<!DOCTYPE html>
<html lang=en{% if page.class %} class="{{ page.class }}"{% endif %}>
	<meta charset="utf-8"/>

	<title>{{ site.title }} - {{ page.title }}</title>

	<meta name="viewport" content="initial-scale=1" />

	<meta property="og:title" content="{{ page.title }}"/>
	<meta property="og:description" content="{{ site.description | strip_html }}"/>
	<meta property="og:url" content="{{ page.url }}"/>

	<link rel="stylesheet" href="{{ "assets/css/style.css" | prepend: site.baseurl }}">
	<link rel="shortcut icon" href="{{ "assets/images/favicon.png" | prepend: site.baseurl }}"/>

	<body>
