<nav id="top-nav">
  <a href="/"><img class="small-logo" alt=""
							src="assets/images/header-logo-small-53w.png"
							srcset="assets/images/header-logo-small-106w.png 106w"
							sizes="(max-width: 800px) 32px, 64px"
						/></a>
  <h3>Center for Digital Resilience</h3>
  <ul>
    <li><a href="https://redaranj.github.io/landing/" {% if page.url == "/" %}class="nav-selected"{% endif %}>Home</a></li>
    <li><a href="https://redaranj.github.io/landing/about" {% if page.url == "/about.html" %}class="nav-selected"{% endif %}>About</a></li>
    <li><a href="https://redaranj.github.io/landing/team" {% if page.url == "/team.html" %}class="nav-selected"{% endif %}>Team</a></li>
  </ul>
</nav>
