@import url('https://fonts.googleapis.com/css?family=Playfair+Display:900|Roboto:300i,400,700,700i,900');

/*******************************************************/
/* VARIABLES & MIXINS */

// colors
$yellow: #FDDA29;
$black: #000;
$orange: #ED603A;
$white: #fff;
$gray: #6C6C6C;
$gray-medium: #EAEAEA;
$gray-extra-medium: #CACACA;
$gray-light: #F5F5F5;
$gray-extra-light: #FAFAFA;

// gradient
@mixin gradient {
	background: $orange;
	background: linear-gradient(90deg, rgba($orange,1) 0%, rgba(#FDDA29,1) 100%);
}

// sizes, spacing
$padding-standard: 60px;

// breakpoints (there are other custom ones, but these are the main ones for type sizes & spacing)
$breakpoint-medium: 1000px;
$breakpoint-small: 700px;

/*******************************************************/
/* RESET */

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
	font-size: 1rem;
	font-weight: normal;
	margin: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: Roboto;
	overflow-x: hidden;
}

/*******************************************************/
/* DESIGN */

// typography

h1.content-heading {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 5rem;
}

h2.content-heading {
	font-family: Playfair Display;
	font-weight: 900; 
	font-size: 3.125rem;
}

h3.content-heading {
	font-family: Playfair Display;
	font-weight: 900;
	font-size: 1.875rem;
}

p {
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 1.45;

	&:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	&.intro {
		font-size: 2.75rem;
		font-weight: 700;
		line-height: 1.33;
	}
}

p, dd, dt, li {
	a {
		color: inherit;
		font-weight: 700;
		font-style: italic;

		&:hover {
			color: $orange;
		}
	}
}

@media screen and (max-width: $breakpoint-medium) {
	h1.content-heading {
		font-size: 3.75rem;
	}

	h2.content-heading {
		font-size: 2.25rem;
	}

	h3.content-heading {
		font-size: 1.5rem;
	}

	p {
		font-size: .95rem;

		&.intro {
			font-size: 2rem;
			line-height: 1.65;
		}
	}
}

@media screen and (max-width: 800px) {
	h1.content-heading {
		font-size: 2.5rem;
	}

	h2.content-heading {
		font-size: 1.75rem;
	}
}

@media screen and (max-width: $breakpoint-small) {
	h3.content-heading {
		font-size: 1rem;
	}

	p {
		font-size: .75rem;

		&.intro {
			font-size: 1.25rem;
			line-height: 1.7;
		}
	}
}

@media screen and (max-width: 400px) {
	h1.content-heading {
		font-size: 1.875rem;
	}

	h2.content-heading {
		font-size: 1.25rem;
	}
}

// recurring elements

.bar {
	width: 50%;
	border: 6px solid $black;
	margin: 45px 0;

	&.mod-inverse {
		border-color: $white;
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.bar {
		width: 65%;
		border-width: 4px;
		margin: 30px 0;
	}
}


@media screen and (max-width: $breakpoint-small) {
	.bar {
		width: 80%;
		border-width: 3px;
		margin: 20px 0;
	}
}

// generalized layout containers

.page-section {
	padding: 100px $padding-standard*2;
}

.content {
	max-width: $max-width;
	margin-left: auto;
	margin-right: auto;
}

.button-container {
	text-align: right;
	margin: $padding-standard 0;

	&:last-child {
		margin-bottom: 0;
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.page-section {
		padding: 70px $padding-standard;
	}

	.button-container {
		margin: $padding-standard/2 0;
	}
}

@media screen and (max-width: $breakpoint-small) {
	.page-section {
		padding: 40px $padding-standard/2;
	}

	.button-container {
		margin: $padding-standard/2 0;
	}
}

// design specifics - page sections

.page-section#intro {
	@include gradient;
	color: $white;

	.content-heading,
	.button-container {
		width: 50%;
	}

	.content {
		position: relative;

		// hack to get everything to show above logo
		> * {
			position: relative;
			z-index: 1;
		}
	}

	.logo {
		z-index: 0;
		position: absolute;
		top: -100px;
		right: -250px;
		height: 150%;
	}

	.logo-overflow{
		z-index: 0;
		position: absolute;
		top: -100px;
		right: -250px;
		height: 336.5%;
	}

	.bar {
		margin: 60px 0;
	}
}

@media screen and (max-width: 1270px) {
	.page-section#intro {

		.content-heading,
		.button-container {
			width: 100%;
		}

		.logo {
			height: auto;
			width: 90%;
		}

		.logo-overflow {
			height: auto;
			width: 50%;
		}
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.page-section#intro {
		.content-heading,
		.button-container {
			width: 70%;
		}
	}
}


@media screen and (max-width: $breakpoint-small) {
	.page-section#intro {
		padding-top: $padding-standard*1.5;
		padding-bottom: $padding-standard*1.5;

		.logo, .logo-overflow {
			width: 60%;
			right: -30px;
			top: -80px;
		}

		.bar {
			margin: $padding-standard/2 0;
		}
	}
}

@media screen and (max-width: 500px) {
	.page-section#intro {
		.content-heading,
		.button-container {
			width: 100%;
		}
	}
}

.page-section#what-we-do {
	background: $white;
}

.page-section#meet-our-team {
	background: $gray-extra-light;
}

.page-footer {
	background: $gray-light;
	padding: $padding-standard $padding-standard*2;
}

@media screen and (max-width: $breakpoint-medium) {
	.page-footer {
		padding: $padding-standard;
	}
}

@media screen and (max-width: $breakpoint-small) {
	.page-footer {
		padding: 30px;
	}
}

// team profiles

.profiles {
	margin-top: $padding-standard * 2;
	margin-left: -$padding-standard;
	margin-right: -$padding-standard;
	display: flex;
}

.profile {
	background: $white;
	padding: 35px;
	box-shadow: 0 0 8px rgba($black, .1);

	&:not(:nth-child(3)) {
		margin-right: $padding-standard;
	}
}

.profile--image {
	margin-bottom: 10px;
}

.profile--name {
	font-family: Playfair Display;
	font-weight: 900;
	font-size: 1.875rem;
}

.profile--title {
	font-weight: 700;
	font-size: 1.25rem;
	margin-bottom: 15px;
}

.profile--details {
	font-size: 0.875rem;

	dt {
		font-weight: 700;
		margin-bottom: 7px;
	}

	dd {
		margin-left: 0;
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1200px) {
	.profile {
		padding: 0;
		background: transparent;
		box-shadow: none;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.profiles {
		margin-left: 0;
		margin-right: 0;
		margin-top: $padding-standard;
	}

	.profile--name {
		font-size: 1.5rem;
	}

	.profile--title {
		font-size: 1rem;
	}

	.profile--details {
		font-size: .75rem;
	}
}

@media screen and (max-width: 800px) {
	// stack profiles
	.profiles {
		display: block;
		margin-top: 30px;
	}

	.profile {
		margin-bottom: 40px;
		margin-right: 0 !important;
	}

	.profile--header {
		display: flex;
		align-items: flex-end;
		margin-bottom: 19px;
	}

	.profile--image {
		margin-bottom: 0;
		min-width: 80px;
	}

	.profile--title {
		margin-bottom: 0;
	}
}

@media screen and (max-width: $breakpoint-small) {
	.profile--name {
		font-size: 1rem;
	}

	.profile--title {
		font-size: .75rem;
	}

	.profile--details {
		font-size: 0.625rem;

		dt {
			margin-bottom: 7px;
		}

		dd {
			margin-bottom: 20px;
		}
	}
}

// call to action links

.call-to-action-link {
	font-size: 1.35rem;
	text-decoration: none;
	font-weight: 400;
	color: inherit;

	img {
		margin-left: 10px;
		width: 16px;
		vertical-align: middle;
		position: relative;
		top: -1px;
	}

	&:hover {
		color: inherit;
		border-bottom: 3px solid $black;
	}

	&.mod-inverse {
		color: $white;

		&:hover {
			border-bottom: 3px solid $white;
		}
	}
}

@media screen and (max-width: $breakpoint-medium) {
	.call-to-action-link {
		font-size: .95rem;

		img {
			margin-left: 8px;
		}

		&:hover {
			border-bottom: 2px solid black;
		}
	}
}

@media screen and (max-width: $breakpoint-small) {
	.call-to-action-link {
		font-size: 0.6875rem;

		img {
			margin-left: 6px;
		}
	}
}

.page-section#signup {
	padding-top: 75px;

	.form-wrapper {
		width: 42%;
	}

	.bar {
		width: 100%;
		margin-top: 40px;
		margin-bottom: 24px;
	}

	p {
		font-size: 17px;
		margin-bottom: 6px;
		padding-right: 20px;
	}

	.fine-print {
		font-size: 12px;
		font-weight: 200;
		font-style: italic;
		padding-top: 0px;
		padding-bottom: 24px;
	}
	
	.email {
		font-size: 17px;
		color: $black;
		height: 40px;
		width: 80%;
		border: 0px;
		box-shadow: 0px 0px 4px 2px $gray-medium;
		padding: 8px;
	}

	div.mce_inline_error {
		margin-top: 5px;
		width: 400px;
		background-color: $orange;
	}

	::placeholder {
    color: $gray-extra-medium;
    opacity: 1;
	}	

	.check-all {
		font-size: 12px;
		font-weight: 700;
		font-style: italic;
		padding-top: 30px;
		padding-bottom: 2px;
		padding-left: 24px;
	}

	.check-wrap {
		width: 20px;
		position: relative;
		margin-top: 20px;
		margin-bottom: 20px;
		padding-left: 24px;

		label {
			width: 20px;
			height: 20px;
			cursor: pointer;
			position: absolute;
			top: 0;
			left: 24;
			border: 1px solid $black;

			&:after {
				content: '';
				width: 9px;
				height: 5px;
				position: absolute;
				top: 4px;
				left: 4px;
				border: 3px solid $white;
				border-top: none;
				border-right: none;
				background: transparent;
				opacity: 0;
				transform: rotate(-45deg);
			}
		}

		input[type=checkbox] {
			visibility: hidden;

			&:checked + label:after {
				opacity: 1;
				color: $white;
			}

			&:checked + label {
				background-color: $black;
			}
		}
		
		p {
			position: absolute;
			top: -1px;
			left: 55px;
			font-weight: 700;
		}
	}

	.content-heading {
		font-size: 22px;
	}

	.button {
		background-color: $black;
		border: 3px solid $black;
		color: $white;
		font-size: 18px;
		font-weight: 500;
		padding: 12px 32px;
		border-radius: 100px;
		margin-top: 20px;
		display: inline-block;
		transition: all .4s;
		margin-left: 25%;

		&:hover {
			background-color: $gray;
			border: 3px solid $gray;
			padding: 12px 40px;
		}
	}
}

@media screen and (max-width: 1270px) {
	.page-section#signup {
		.form-wrapper {
			width: 70%;
		}
	}
}

@media screen and (max-width: $breakpoint-small) {
	.page-section#signup {
		.form-wrapper {
			width: 100%;

			.button {
				margin-left: 30%;
			}
		}
	}
}